body
{
    background-color: gray;

    /*Fond ecran adaptable*/
    background-image:url(pictures/landscape.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

h1
{
  color: red;
}

/*
footer
{
    position:absolute;
    bottom:0;
    right:0;
}
*/
